{{ define "main" }}

<div class="page lg:mt-[10vh]">
  <div class="container">
    <ul
      class="flex flex-col items-start justify-center max-w-screen-md gap-0 mx-auto list-none divide-y-2 divide-current rounded">
      {{- $pag := .Paginate .Pages }}
      {{- range $pag.Pages }}
      <li class="w-full p-4 text-accent-100 bg-dark-800">
        <a href="{{ .Permalink }}" class="flex flex-col w-full gap-4">
          <div class="flex flex-col justify-between gap-2 md:flex-row">
            {{/* {{ with .Params.featured }}<span class="text-neutral-500">Featured</span>{{ end }} */}}
            <strong class="leading-loose capitalize">{{ .Title }}</strong>
            <time class="text-neutral-500" datetime='{{ .Date.Format  "2006-01-02" }}'>
              {{ dateFormat (.Site.Params.dateFormat) .Date }}
            </time>
          </div>
        </a>
      </li>
      {{- end}}
    </ul>
  </div>
</div>

{{ end }}{{- /* end main */ -}}