<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" href="/favicon.png">
  <link rel="icon" href="/favicon.png" type="image/png">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <title>{{ or .Title .Site.Title }}
    {{ if ne .Kind "home" }} | {{ .CurrentSection.Title }}{{ end }}
  </title>

  {{ $styles := resources.Get "style.css" }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">

  {{ $prismStyles := resources.Get "vendor/prismjs.css" }}
  <link href="{{ $prismStyles.RelPermalink }}" rel="stylesheet" />
</head>

<body class="dark">
  <main class="w-screen h-screen transition-colors bg-neutral-200 dark:bg-neutral-900">
    {{ partial "header.html" . }}
    {{ block "main" .}}
    <!-- content goes here -->
    {{ end }}
  </main>

  {{ $prismjs := resources.Get "vendor/prismjs.css" }}
  <script defer src="{{ $prismjs.RelPermalink }}"></script>
  <script defer type="module" src="https://md-block.verou.me/md-block.js"></script>
</body>

</html>