---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="w-full flex flex-col-reverse lg:flex-row lg:items-center gap-10 py-10 lg:min-h-[65vh]"
  >
    <div class="w-full max-w-3xl h-full flex flex-col gap-8 mx-auto">
      <h1
        class="flex flex-wrap justify-center lg:justify-start text-3xl lg:text-4xl font-title font-normal 2xl:text-5xl gap-3 !leading-normal !tracking-normal"
      >
        <span>Hi, I am</span>
        <span class="font-semibold">Rodgers M Gitau,</span>
        <span class="font-semibold">software engineer</span>
        <span>based in</span>
        <span class="font-semibold">Nairobi Kenya.</span>
      </h1>
    </div>
    <div class="w-full h-full relative flex items-center xl:justify-end">
      <div
        class="relative w-[clamp(20rem,_20vw,_20em)] mx-auto xl:ml-auto aspect-square rounded-full shadow-lg overflow-hidden"
      >
        <div
          class="absolute inset-0 bg-gradient-to-r from-primary/50 to-accent/50 dark:from-black/30 dark:to-primary/10"
        >
        </div>
        <Image
          width="300"
          height="300"
          alt="avatar"
          src="/images/avatar.jpg"
          class="object-cover w-full h-full aspect-square rounded-full"
        />
      </div>
    </div>
  </div>
</Layout>
