---
import { SITE_TITLE } from "../consts";
const today = new Date();
---

<footer class="w-full h-max">
  <div class="container py-8 border-t border-text/10">
    <h4 class="flex flex-col gap-2 justify-start font-medium text-sm">
      <span> &copy; {today.getFullYear()}</span>
      <span>{SITE_TITLE}</span>
      <span> All rights reserved</span>
    </h4>
  </div>
</footer>

<style lang="postcss">
  footer {
	  background: linear-gradient(var(--gray-gradient)) no-repeat;
  }
</style>
