---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>

<style lang="postcss">
	a {
		@apply inline-block no-underline text-lg;
	}
	a.active {
		@apply font-semibold underline underline-offset-4;
	}
</style>
