---
import HeaderLink from "./HeaderLink.astro";
import ThemeToggler from "./preact/ThemeToggle";
---

<div class="container">
  <nav>
    <a href="/" class="text-lg font-black uppercase">Logo</a>
    <div class="mx-auto flex items-center w-max gap-4">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="w-max ml-auto">
      <ThemeToggler
        client:visible
        isInsideHeader={true}
        labels={{ useLight: "light", useDark: "dark" }}
      />
    </div>
  </nav>
</div>

<style lang="postcss">
  header {
    @apply sticky inset-0 shadow;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
  }
  nav {
    @apply flex py-8 justify-between;
  }
</style>
