<nav
  class="sticky top-0 left-0 right-0 z-50 text-black md:fixed bg-accent-100 dark:bg-neutral-800 dark:text-accent-500">
  <div class="container flex items-center border-b border-current">
    <a href="/" class="flex flex-col gap-1 font-sans capitalize w-max">
      <strong class="text-lg">rodgers m gitau</strong>
      <span class="text-sm">software engineer</span>
    </a>
    <div class="flex-1">
      <ul class="flex items-center justify-center gap-8 list-none">
        {{ range .Site.Menus.main.ByWeight }}
        <li class="site-nav-item">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    <button id="btnTheme" class="ml-auto">
      {{ partial "theme.html" . }}
    </button>
  </div>

  {{/* <ul class="nav-menu">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    {{ $active := or (eq $currentPage.Title .Name) (or ($currentPage.HasMenuCurrent "main" .)
    ($currentPage.IsMenuCurrent "main" .)) }}
    <li class="nav-menu-link {{ if $active }}active{{ end }}">
      <a href="{{ .URL }}" title="{{ .Identifier }}">
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{ end }}
  </ul> */}}
</nav>