---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<style>
  .prose {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
  }
  .title {
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    line-height: 1;
  }
  .title h1 {
    margin: 0 0 0.5em 0;
  }
  .date {
    margin-bottom: 0.5em;
  }
  .last-updated-on {
    font-style: italic;
  }
</style>

<Layout>
  <article>
    <div class="container mx-auto">
      <div class="relative w-full">
        {
          heroImage && (
            <img
              width={1020}
              height={510}
              src={heroImage}
              alt=""
              class="object-cover w-full aspect-video mx-auto block shadow rounded-md"
            />
          )
        }
      </div>
      <div class="w-full grid gap-10">
        <div class="flex gap-8 items-center py-10 border-b border-text/10">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }

          <h1 class="font-bold">{title}</h1>
        </div>
        <slot />
      </div>
    </div>
  </article>
</Layout>
