---
import { ViewTransitions } from "astro:transitions";

import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body class="bg-background text-text">
    <div class="relative w-full min-h-screen h-full flex flex-col gap-0">
      <Header title={SITE_TITLE} />
      <main class="container h-full flex-1 py-10">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
